.footer {
    background-image: url("/images/footer-image.svg"),
        url("/images/footer-image.svg");
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%;
}
